@charset "utf-8";

.div-dummy {
    height: 55px;
}


.footer-bottom-on {
    width: auto !important;
    padding: 0 20px 80px 20px !important;
    margin: 0 !important;
}




.accommodation-wrap {
    margin-top: 20px;
    padding-bottom: 18px;
}

.accommodation-info-wrap {
    align-items: flex-start;
}


.coupon-wrap-cont {
    margin-top: 16px;
}





/* 객실 */
.main-image-wrap {
    height: 205px;
}


/* flag */
.badge-list-wrap {
    
}

.badge-list-wrap>.badge-item-wrap:not(:last-child) {
    margin-right: 7px;
}

.badge-list-wrap > .badge-item-wrap > .badge-wrap {
    padding: 4px 10px;
}
.badge-list-wrap > .badge-item-wrap > .badge-wrap > p {
    font-size: 10px;
    line-height: 12px;    
}
.shading-wrap {
    right: -13px;
    height: 5px;
    border-top: 5px solid transparent;
}
.shading-main-wrap {
    border-left: 3px solid #E5B326;
}
.shading-sub-wrap {
    border-left: 3px solid #26B16C;
}

.badge-triangle {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}

.badge-main-triangle {
    border-top: 5px solid #FFCD40;
}
.badge-sub-triangle {
    border-top: 5px solid #5CCB94;    
}


/* 쿠폰 */

.coupon-wrap-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.coupon-wrap-cont.plus .coupon-wrap:nth-child(2) {
    position: relative;    
}
.coupon-wrap-cont.plus .coupon-wrap:nth-child(2)::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 13px;
    height: 13px;
    background: url(/images/icon_plus.png) no-repeat center center / 13px auto;
    transform: translateX(-50%);

}

.coupon-wrap:not(:last-child) {
    margin-bottom: 4px;
}

.coupon-wrap {
    height: 20px;
    border-radius: 3px;
}

.affiliate-coupon.ty1 {
    border: 1px solid #FFCD40;
    border-left: 5px solid #FFCD40;
}
.affiliate-coupon.ty1 > .coupon-name {
    border-right: 1px dashed #FFCD40;
}
.affiliate-coupon.ty2 {
    border-left: 1px solid #44BE83;
    border-left: 5px solid #44BE83;
}
.affiliate-coupon.ty2 > .coupon-name {
    border-right: 1px dashed #44BE83;
}
.coupon-wrap > .coupon-name {
    font-size: 10px;
}
.coupon-wrap > .coupon-discount-price {
    width: 60%;
    padding-right: 5px;
    font-size: 10px;
}



/* 가격 */
.accommodation-sales-type-price-wrap {
    height: auto;
}
.media-accommodation-sales-type-wrap {
    align-items: flex-start;
    margin-bottom: 6px;
}

.accommodation-sales-type {
    font-size: 15px;
    line-height: 20px;
}
.media-accommodation-sales-type-wrap > div:nth-child(2) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.discount-rate {
    font-size: 10px;
}
.fixed-price {
    font-size: 10px;
}

.max-use-time {
    font-size: 0;
}
.max-use-time > span:not(.discount-price) {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 10px;
    line-height: 1;
}

.discount-price {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 0;
    font-size: 17px;
    line-height: 1;
}

@media screen and (max-width: 280px) {
    .max-use-time > span {
        display: block;
    }
    .max-use-time > span + span {
        margin-top: 5px;
    }
    .max-use-time > span:not(.discount-price) {
        top: 0;
    }
}


/* 상태값 */
.situation {
    margin-top: 13px;
}
.situation .thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 0;
    line-height: 1;
}
.situation .thumb img {

}
.situation .text {
    font-size: 10px;
    line-height: 14px;
    color: #828282;
}
.situation .text strong {
    font-weight: 700;
    color: #FF724D;
}