@charset "utf-8";

.wrapper {}

/********* Header *********/
.subHeader {display:inline-block; position:fixed; top:0; z-index:300; width:100%; background-color:#fff; -webkit-transform:translateZ(0);transform:translateZ(0); }
.subHeaderLine {height:8px; background: linear-gradient( to top, #fff, #f5f5f5);}
.subHeader h2 {text-align:center; font-size:27px; font-weight:bold; padding:24px 0; color:#3d3d3d; }
.headerBtn {display:inline-block; position:absolute; top:30px; right:30px;}
.headerBtn .btn_search {position:relative; width:24px; height:24px; background:url('../../images/top_search.png') no-repeat center center; padding:0;}

/********* Container *********/
.container {display:block; position:relative; min-height:100%; border:1px red solid; }
.content {margin-top:96px; overflow:hidden; }

/********* Footer *********/
#footer {width:100%; position:fixed; left:0; bottom:0; z-index:100; padding:15px 0; background:#fff; border-top:1px #d4d4d4 solid; }
.footer_icon {display:flex; align-items: center; width:100%; }
.footer_icon li {width:20%; color:#5e5e5e; font-weight:500; }
.footer_icon li:last-child {border-right:0}
.footer_icon li a {display:block; width:100%; font-size:15px; text-align:center; color:#464646; padding-top:40px; }
/*.footer_icon li a.footer_home {background:url('../../images/common/footer_img01.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li a.footer_area {background:url('../../images/common/footer_img02.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li a.footer_around {background:url('../../images/common/footer_img03.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li a.footer_my {background:url('../../images/common/footer_img04.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li a.footer_more {background:url('../../images/common/footer_img05.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li .footer_home.on {background:url('../../images/common/footer_img01_on.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li .footer_area.on {background:url('../../images/common/footer_img02_on.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li .footer_around.on{background:url('../../images/common/footer_img03_on.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li .footer_my.on {background:url('../../images/common/footer_img04_on.png') no-repeat center 0; background-size:40px 40px}*/
/*.footer_icon li .footer_more.on {background:url('../../images/common/footer_img05_on.png') no-repeat center 0; background-size:40px 40px}*/